* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

:root {
    --primary: linear-gradient(135deg, #0f1988, #5b288b,#103c6d);
    /*--primary: linear-gradient(135deg, #8c621b, #cac538,#6b5610);*/
    --secondary: #e7ecf0;
    --accent: linear-gradient(135deg, #3b0f88, #501d60,#1b0e6d);
    --greyish: linear-gradient(135deg, #d9cbef,#898893);
    --text-dark: #222;
}

/*NAVBAR*/
.navbar {
    height: 10vh;
    padding: 0 2rem;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoImage {
    width: 40%;
    max-width: 15%;
    height: auto;
    border: .1rem;
    border-radius: 25px;    
    background:#0f1988;
}

.logoText {
    width: 60%;
    font-size: 1.8rem;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: var(--secondary);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 2rem;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/*INDEX-PAGE-HERO*/
.hero {
    min-height: 80vh;   
    background-image:
        linear-gradient(
            rgba(75, 30, 189, 0.65),
            rgba(6, 22, 38, 0.65)
        ),
        url("../images/home.webp");

    background-size:cover;
    background-position: center center;
    /*background-repeat: no-repeat;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3vw;
    font-weight: 300;
    padding: 4vh 5vw;
    color: white;
    margin: 1.5rem;
    border-radius: 20px;
    border: .2rem solid black;
    padding: 1rem;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(235, 239, 239);
}

.hero p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*BUTTON:btn-primary*/
.btn-primary {
    background: var(--accent);
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 0.3rem;
    margin-top: 1rem;
    display: inline-block;
}

/*CENTER BUTTON-index.html PAGE*/
.center-btn {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.center-btn a {
    font-size: 1.1rem;
}

/*CAROUSAL*/
.carousel {
    width: 40%;
    height: auto;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
    text-align: center;
}

.carousel-track {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.carousel-img {
    width: 100%;
    flex-shrink: 0;
    object-fit: contain;
    border: .2rem solid black;  
}

.quote h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
}

/*PAGE SECTIONS-common*/
.page-section-index {
    min-height: 80vh;
    padding: 4rem 4rem;
    background: linear-gradient(135deg,#d8d8e6, #bbbbbb);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page-section-index h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.page-section {
    min-height: 80vh;
    padding: 4rem 4rem;
    background: var(--secondary);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page-section h1 {
    text-align: center;
    margin-bottom: 2rem;
}

/*CARDS*/
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
}

.card {
    background: white;
    border: .1rem solid black;
    padding: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

/*PACKAGE CARDS*/
.package-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.4rem;
}

.package-card h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.package-card p {
    margin-top: 0.5rem;
    color: #555;
}

/*PACKAGE DETAILS PAGE:package-detials*/
.details-card {
    max-width: 40rem;
    margin: auto;
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

.details-card img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

.details-card h2 {
    margin-top: 1.5rem;
}

.details-card p {
    margin-top: 0.8rem;
    font-size: 1rem;
}

.details-card button {
    margin-top: 1.5rem;
    padding: 0.8rem 1.5rem;
    background: var(--accent);
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
}

/*DETAILS PAGE BUTTONS-created using js*/
.details-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.secondary-btn {
    background: #ccc;
    color: #222;
}

/*ABOUT PAGE*/
.about {
    display: flex;
    flex-direction: column;
    margin: 0rem 4rem;
    align-items: center;
    justify-content: center;
    background: var(--greyish);
    border: .1rem solid black;
    border-radius: 10px;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
    text-align: center;
}

.about h1 {
    margin-top: 1.5rem;
    font-family:'Times New Roman', Times, serif;
}

.about img {
    padding: .5rem;
    border: 1rem solid  #9b6ec5;
    border-radius: 10px;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

.about p {
    padding: 1rem 6rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-family:cursive;
}

/*CONTACT FORM*/
.contact-form {
    max-width: 30rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

.contact-form 
.contact-form .btn-primary {
    background: var(--accent);
    color: white;
    padding: 0.8rem 1.5rem;
    width:10rem;
    text-decoration: none;
    border-radius: 0.3rem;
    margin-top: 1rem;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    align-self: center;
    border-radius: 10px;
}

/*ADMIN LOGIN PAGE*/
.admin-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    min-height: 80vh;
    width: 50vw;
    max-width: 80vw;
    gap:1rem;
    border: .1rem solid black;
    border-radius: 1rem;
    background: var(--secondary);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2rem;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

.admin-login h1,h3 {
    font-weight: 500;
}

.admin-login .adminLoginForm {
    width: 15rem;
    height:15rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: .1rem solid black;
    border-radius: 1rem;
    background: var(--greyish);
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.adminLoginForm input {
    width:10rem ;
    height: 2rem;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 550;
    text-align: center;
}

/*ADMIN DASHBOARD PAGE*/
.admin-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

.admin-contact-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family:'Times New Roman', Times, serif;
}

.admin-dashboard h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/*ADMIN-DASHBOARD PAGE CONTACT TABLE*/
#contactTable {
    border-collapse: collapse;  
    width: 90%;
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);;
    border-radius: 10px;
    overflow: hidden;
}

#contactTable thead {
    background:linear-gradient(135deg, #0f1988, #5b288b,#103c6d) ; /* dark header */
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#contactTable th, 
#contactTable td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Zebra striping for rows */
#contactTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover effect on rows */
#contactTable tbody tr:hover {
    background-color: #f1f1f1;
}

/*admin package dashboard*/
.admin-package-dashboard {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: .1rem solid black;
    border-radius: 1rem;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);

}

.admin-package-dashboard h2 {
    padding-bottom: 2rem ;
    text-align: center;
    font-family: 'Times New Roman', Times, serif ;
}

.admin-form {
    max-width: 30rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin-form input {
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

/*FOOTER*/
.footer {
    height: 10vh;
    background: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

/*---------------------------------------------------------------------------------------*/

/*MOBILE : BELOW-840px*/
@media (max-width: 840px) {

    .nav-links {
        position: absolute;
        top: 10vh;
        right: 0px;
        background: var(--primary);
        width: 30%;
        height: 90vh;
        flex-direction: column;
        display: none;
        padding: 1rem 0;
        align-items:end;
    }

    .nav-links li {
        margin-top:1.5rem;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hero {
        min-height: 85vh;
        padding: 6vh 6vw;
        background-position: top center;
        box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
    }

    .hero h1 {
        font-size: 2rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(235, 239, 239);
    }

    .hero p {
        font-size: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .btn-primary  {
    background: var(--accent);
    color: white;
    font-size: 1rem;   
    text-decoration: none;
    border-radius: 0.3rem;
    display: inline-block;
}

/* carousel mobile fix */
.carousel {
    width: 90%;
    height: auto;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

.carousel-track {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.carousel-img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.quote h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
}

/* page-section mobile*/
.page-section {
    max-width: 100vw;
    align-items: center;
    margin: 0;
    padding: 1rem;
    justify-items: center;
}

/* about mobile */
.about {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 90vw;
    align-items: center;
    justify-content: center;
    background: var(--greyish);
    border: .1rem solid black;
    border-radius: 10px;
    text-align: center;
    display: block;
    box-shadow: 0 4px 10px rgba(108, 1, 108, 0.5);
}

.about h1 {
    margin-top: 1.5rem;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.8rem;
}

.about img {
    padding: 0.1rem;
    border: 1rem solid  #9b6ec5;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(108, 1, 108, 0.5);
}

.about p {
    padding: 1rem 1rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-family:cursive;
    display: flex;
    align-items: center;
}

/*admin-login page-mobile */
.admin-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100vw;
    gap:1rem;
    border: .1rem solid black;
    border-radius: 1rem;
    background: var(--secondary);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

.admin-login h3 {
    font-weight: 500;
    padding: 0rem 2rem ;
    align-self: center;
    text-align: center;
}

.admin-login .adminLoginForm {
    width: 15rem;
    height:15rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: .1rem solid black;
    border-radius: 1rem;
    background: var(--greyish);
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.adminLoginForm input {
    width:10rem ;
    height: 2rem;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 550;
    text-align: center;
}

/*admin-dashboard contact table mobile*/
.admin-dashboard {
    max-width: 100vw;
}

.admin-contact-dashboard {
    max-width: 100%;
    max-height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

#contactTable {
    width:100%;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    border-collapse: collapse;
    align-self: flex-start;
    overflow-x:auto
    
}

/*footer mobile*/
.footer {
    height: 10vh;
    background: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

/*admin package dashboard-mobile*/
.admin-package-dashboard {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: .1rem solid black;
    border-radius: 1rem;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

.admin-package-dashboard h2 {
    padding-bottom: 2rem ;
    text-align: center;
    font-family: 'Times New Roman', Times, serif ;
}

.admin-form {
    max-width: 15rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin-form input {
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0 0px 15px rgba(108, 1, 108, 0.5);
}

}

/*---------------------------------------------------------------------------------------*/
